# Database Config
DATABASE_URL=

PORT=

# Internal Login System
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# GitLab
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
