# Database Config
HOST=localhost
PORT=1234
DATABASE=defaultdb
DATABASE_USER=admin
PASSWORD=zaq1@WSX
SSL_ENABLED=false
CA_CERTIFICATE=

# Internal Login System
JWT_SECRET=

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SERCRET=
# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SERCRET=
# GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SERCRET=
# GitLab
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SERCRET=
