@import "tailwindcss";

/* Variables declaration */
@theme {
    --font-title: "Tajawal", serif;
    --font-text: "Raleway", serif;
    --font-playwrite: "Playwrite US Trad", serif;
}

@import "./lib/styles/loginPage.css";
@import "./lib/styles/dashboard.css";

/* Light theme */
:root {
    --mainBackground: #1e2035;
    --dashboardBackground: #2b2d42;
    --mainBorder: #4e5c78;
    --mainTextColor: #edf2f4;
    --mainAccent: #ffa8a9;
}

/* Dark theme */
[data-theme="dark"] {
    --acme-canvas-color: oklch(0.21 0.034 264.665);
}

@theme inline {
    --color-mainBackground: var(--mainBackground);
    --color-dashboardBackground: var(--dashboardBackground);
    --color-mainBorder: var(--mainBorder);
    --color-mainTextColor: var(--mainTextColor);
    --color-mainAccent: var(--mainAccent);
}

/* Font for titles */
.titleFont {
    @apply text-3xl font-medium font-title;
}
    
/* Font for normal text */
.textFont {
    @apply text-lg font-normal font-text;
}